body {
    background-color: #E5E5E5;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Top Player */
.container {
    background: #FFFFFF;
    width: 886px;
    padding: 31px;
    height: 679px;
    border-radius: 5px;
    margin-bottom: 21px;
}

.top-player {
    padding: 31px;
}

.section-title {
    display: flex;
    align-items: center;
}

.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 29px;
    margin-top: 40px;
}

.player {
    display: flex;
    align-items: center;
}

.player img {
    height: 56px;
    width: 56px;
    ;
}

.player-name {
    margin-left: 16px;
}

hr {
    margin-top: 30px;
}

/* Top Blog */
.top-blog {
    padding: 31px;
    margin-bottom: 40px;
}

.blogs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.blog {
    display: flex;
    align-items: center;
}

.blog img {
    width: 177px;
    height: 117px;
}

.blog-title {
    font-size: 20px;
    margin-left: 16px;
}

.blog-title a {
    text-decoration: none;
}

/* Latest Course */
.latest-course {
    padding-left: 31px;
}

.courses {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.course {
    height: 270px;
    width: 230px;
    filter: drop-shadow(0px 5.34229px 13.3557px rgba(0, 0, 0, 0.05));
    border: 1px hidden wheat;
    border-radius: 0px;

}

.course img {
    width: 224.38px;
    height: 105.51px;
}

.course-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fa-star {
    height: 11.808359146118164px;
    width: 12.387435913085938px;
    border-radius: 0px;

}

.course-info .filled {
    color: #FFC014;
}

.course-info .empty {
    color: #AEAEAE;
}